body {
    background-color: #000;
}
body::after {
    content: "";
    background-image: url("./bg.jpg");
    background-position: top -450px center;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.monaco { 
	font-family: 'Monaco'; 
}

.item {
    color: silver;
    text-align: center;
    float: left;
}